---
// Welcome to Astro! Everything between these triple-dash code fences// is your "component frontmatter". It never runs in the browser.
console.log('This runs in your terminal, not the browser!');
import MainLayout from "../layout/MainLayout.astro";
---

<MainLayout name="Working with Markdon" >
  <h1>Hello World</h1>
</MainLayout>